body {
  margin: 0px;
  padding: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 20px;
  background-color: #fff;
}

td,th {
  padding: 10px;
  text-align: left;
}

td.exs {
  border: 1px solid black;
}

h1 {
  margin-left: 10px;
  font-style: italic;
}

a {
  color: #444;
  text-decoration: none;
}

input[type=text] {
  border: 1px solid black;
  border-radius: 10px;
  height: 30px;
  width: 150px;
  font-size: 20px;
  padding-left: 10px;
}

input[type="submit"] {
  background-color: white;
  color: black;
  font-size: 18px;
  padding: 7px 15px;
  border: 1px solid black;
  border-radius: 10px;
  text-decoration: 0.4s;
}

.regress {
  background-color: #888;
  color: #eee;
  opacity: 100%;
}

.progress {
  background-color: #ccc;
  color: #333;
  opacity: 85%;
}

.neutral {
  color: #444;
  opacity: 70%;
}

.estimate {
  color: #333;
  margin-left: 10px;
}
