<!DOCTYPE html>

<html>
<head>
  <title>Exercises everyday</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.9" />

  <link rel="stylesheet" href="https://goodies.pixabay.com/javascript/auto-complete/auto-complete.css">
  <link rel="stylesheet" href="static/css/base.css">
  <script src="https://goodies.pixabay.com/javascript/auto-complete/auto-complete.js"></script>
</head>

<body>
  <h1>Exercises</h1>
  <table>
    <form method="post" action="/exercise/done" id="exercise-submit">
      <tr>
        <td><input type="text" name="type" autoComplete="off"></td>
        <td><input style="width: 45px" type="text" name="repeats"></td>
        <td><input type="submit" value="Done"></td>
      </tr>
    </form>
  </table><br/>

  <table>
    <thead>
      <th>Type</th>
      <th>Last Week</th>
      <th>Current Week</th>
      <th>Change</th>
    </thead>
    <tbody>
      {{ $thisWeekStats := .ThisWeekStats }}
      {{ $lastWeekStats := .LastWeekStats }}
      {{ $changeStats := .ChangeStats }}
      {{ range $type := .ExercisesTypes }}
      {{ $last := index $lastWeekStats $type }}
      {{ $this := index $thisWeekStats $type }}
      {{ $change := index $changeStats $type }}
      <tr class="
                 {{ if gt $this $last }} progress
                 {{ else if lt $this $last }} regress
                 {{ else }} neutral
                 {{ end }}">
        <td class="exs">{{ $type }} </td>
        <td class="exs">{{ $last }}</td>
        <td class="exs">{{ $this }}</td>
        <td class="exs">{{ if ne $change "" }} {{ $change }}% {{ end }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table><br/>
  <div class="estimate">Estimated repeats: {{ .EstimatedRepeats }}</div>

  <script>
    let choices = [{{ range .ExercisesTypes }} "{{ . }}", {{ end }}];
    new autoComplete({
      selector: 'input[name="type"]',
      minChars: 2,
      source: function(term, suggest){
        term = term.toLowerCase();
        let matches = [];
        for ( i = 0; i < choices.length; i++ )
          if (~choices[i].toLowerCase().indexOf(term)) matches.push(choices[i]);
        suggest(matches);
      }
    });
  </script>
</body>
</html>
